.liponNav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #646464;
	/* height: 10vh; */
	padding: 5px 10px;
	margin: 0px 0px;
	height: 70px;
	position: relative;
	padding: 0px 50px;
	z-index: 100;
}
.leftSide {
	flex: 1;
}
.middleSide {
	flex: 1;
}
.rightSide {
	flex: 1;
}
.logo span {
	color: white;
	font-weight: 700;
	padding: 8px;
	font-size: 32px;
}
.allLink {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: white;
}

.myLink {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 17px;
	padding: 4px;
	text-transform: uppercase;
	cursor: pointer;
}
.signout-btn {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 22px;
	padding: 8px;
	text-transform: uppercase;
	cursor: pointer;
}
.signout-btn:hover {
	color: rgb(255, 255, 255);
}
.myLink:hover {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}

.active-myLink {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 17px;
	text-transform: uppercase;
	border-bottom: 2px solid #ff9f43;
	padding: 2px;
	margin: 2px;
}

.toggleBut {
	display: none;
}

@media (max-width: 768px) {
	.toggleBut {
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgb(255, 255, 255);
		font-size: 22px;
	}
	.logo span {
		color: white;
		font-weight: 500;
		padding: 8px;
		font-size: 18px;
	}

	.allLink {
		display: none;
	}

	#notHidden {
		position: absolute;
		left: 0;
		right: 0;
		top: 72px;
		height: 40vh;
		width: 100%;
		background-color: #646464;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
