@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .btnMe{
    @apply px-4 py-2 border rounded-full text-sm font-medium 
  }
  .btnPurple{
    @apply border-purple-700 text-purple-700 hover:bg-purple-700
  }
}

@layer utilities{
  .whf {
      @apply h-screen w-full
    }
  .fm {
      @apply flex justify-center items-center
    }
  .fcm {
      @apply flex flex-col justify-center items-center
    }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
